body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

h2 {
  margin: 5px;
  font-size: 1.2rem;
}

.container {
  background: white;
  text-align: center;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* três colunas iguais */
  gap: 20px;
  padding: 0 20px;
  height: 100vh; /* ocupa a altura da tela */
  box-sizing: border-box;
}

.coluna {
  background: #f8f8f8;
  padding: 20px 20px 0 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.dados-cliente {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas */
  gap: 0 10px; /* espaço entre linhas e colunas */
}

.campo {
  display: flex;
  flex-direction: column; /* label em cima, input embaixo */
}

.campo label {
  font-size: 0.85rem;
  margin-bottom: 4px;
  color: #444;
}

.campo input {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.dados-consumo {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* três colunas iguais */
  gap: 0 10px;
}

.dados-consumo .campo-dados-consumo {
  display: flex;
  flex-direction: column;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select:invalid {
  color: gray;
}

@media (max-width: 900px) {
  body {
    overflow: auto;
  }
  .layout {
    grid-template-columns: 1fr;
    height: auto;
  }
}
